<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='./assets/style.css')
        title OBINNA App
    body
        block content

        footer.footer
            .container
                strong.text-heading-2 OBINNA
                p.footer-tagline.text-body-3='Visit my '
                    a.link(href='https://github.com/obinnafranklinduru') github account
                small.text-subtle &copy; 2023 OBINNA, Inc. All rights reserved
